<li id="directive-<%= directive.id %>">
  <% @directive = directive %>

  <span class="content">
    <b>Status: </b>
  <% if current_user[:type] == "Crisis" %>
    <%= link_to "(make public)", directive_path(@directive, :directive => {:public => true}),
                :method => :put,
                :confirm => "Are you sure?" if !directive.public %>
        <%= "Public" if directive.public %>
        <%= "Private" if !directive.public %>
  <span class="content">
    <b>Tags(<%= link_to "new tags",
                        :controller => "tags",
                        :action => "new",
                        :directive_id => directive.id %>):</b>
      <% directive.tags.each do |tag| %>
          #<%= tag.tag %>
      <% end %>
  </span>
  <% end %>
  <b>Posted:</b>
  <%= I18n.l directive.created_at.in_time_zone('Eastern Time (US & Canada)') , :format => :short  %>
  </span>
  <span class= "content">
    <b>Title:</b>
    <%= directive.title %>
  </span>
  <span class="content">
    <b>Content:</b> <br>
    <%= render inline: directive.content %>
    <%= image_tag directive.picture.url if directive.picture? %>
  </span>
  <% if current_user[:type] == "Crisis" %>
  <span class="content">
      <b>Avaliable Actions:</b>
      <%= link_to "edit", 
                        :controller => "directives",
                        :action => "edit",
                        :id => directive.id %>
  </span>
  <% end %>
</li>
<hr style="height: 5px; border: 0px solid black; border-top-width: 1px;" />