<% provide(:title, 'All users') %>
<div class = "row">
<aside class="col-md-3">
  <section class="user_info">
      <%= render 'shared/user_info' %>
  </section>
  <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
      <div>
        Search
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
                :search_query,
            ) %>
      </div>
      <div>
        Tags
        <%= f.select(
                :with_tag_name,
                @filterrific.select_options[:with_tag_name],
                { include_hidden: false, include_blank: '- Any -' }, multiple:true, class: "chosen-select form-control"
            ) %>
      </div>
      <div>
        User
        <%= f.select(
                :with_user,
                @filterrific.select_options[:with_user],
                { include_hidden: false, include_blank: '- Any -' }, multiple:true, class: "chosen-select form-control"
            ) %>
      </div>
      <div>
        Directive Type
        <%= f.select(
                :with_directive_type,
                @filterrific.select_options[:with_directive_type],
                { include_hidden: false, include_blank: '- Any -' }, multiple:true, class: "chosen-select form-control"
            ) %>
      </div>
      <div>
        Directive Status
        <%= f.select(
                :with_directive_status,
                @filterrific.select_options[:with_directive_status],
                { include_hidden: false, include_blank: '- Any -' }, multiple:true, class: "chosen-select form-control"
            ) %>
      </div>
      <div>
        Unreplied Directives?
        <%= check_box_tag('reply', value: "false", checked: false) %>
      </div>
      <%= f.submit "submit" %>

  <% end %>
</aside>
<div class="col-md-8">

<%= render('shared/feed') %>
</div>
</div>