<h2>New Personal Directives (Crisis Notes)</h2>

<%= form_for(@personal_directives) do |f| %>
    <% if @personal_directives.errors.any? %>
        <div id="error_explanation">
          <h5><%= pluralize(@personal_directives.errors.count, "error") %> prohibited this directive from being saved:</h5>

          <ul>
            <% @personal_directives.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <b>Co-Authors</b>
      <%= select_tag(:other_authors, options_for_select(Delegate.where(committee: current_user.committee).where.not(id: current_user.id).collect {|p| [ p.position, p.id ] }), { multiple: true , class: "chosen-select form-control" })%>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, :class => "tinymce" %>
      <%= tinymce %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>

<% end %>