<div class="row">
  <div class="spacer"></div>

  <aside class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
    <section class= "user_info">
      <%= render "shared/user_info" %>
    </section>
  </aside>

  <div class="col-md-8">
    <%= link_to "Compose", new_conversation_path, class: "btn btn-success" %>
    <div class="spacer"></div>
    <div class="panel panel-default">
      <div class="panel-body">

        <% if is_conversation %>
          <%= render 'conversations/form' %>
        <% else %>
          <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>
</div>