<h2>New Resolutions</h2>

<%= form_for(@resolution) do |f| %>
<% if @resolution.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@resolution.errors.count, "error") %> prohibited this resolution from being saved:</h2>

    <ul>
        <% @resolution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<%= hidden_field_tag :creator, current_user[:id] %>


<div class="form-group">
  <%= f.label :sponsors %>
  <%= f.select(:sponsors, Delegate.where(committee: current_user.committee).where.not(id: current_user.id).collect {|p| [ p.position, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
</div>

<div class="form-group">
  <%= f.label :signers %>
  <%= f.select(:signers, Delegate.where(committee: current_user.committee).where.not(id: current_user.id).collect {|p| [ p.position, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
</div>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content, :class => "tinymce" %>
  <%= tinymce %>
</div>

<%= f.submit class: 'btn btn-primary' %>
<% end %>